<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student show</title>
  </head>
  <body>
    <p>Show for a particular student</p>
    <h1><%=@student.first_name%></h1>
  </body>
</html>
