<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>School Classes</title>
  </head>
  <body>
    <h1>Class Name: <%=@school_class.title%></h1>
    <br>
    <h1>Room: <%=@school_class.room_number%></h1>
  </body>
</html>
