


<h1><%= @school_class.title %></h1>

<%= link_to 'Edit', edit_school_class_path(@school_class) %>

<p>
  This school class title is <%= @school_class.title %>
</p>


<%= link_to "All School Classes", school_classes_path %>
